
// hooks and vars changed in files


body {
    /* syncing body color up with my choice for headings, this will only show on the margins of the page */
  background: @background-heading;
}
header {
    /* resetting this for the header, as I have a transparent header image within it */
    background: white;
}

.uk-panel {
    /* a quick swap of the .uk-panel color */
    background: @panel-color !important;
}

/* this was my first style of a uikit element, and I was gauging whether to use inline classes or to use classes as mixins, as below */
/* I generally went with inline classes, as this seems to be step one to exploring the utility of uikit */
nav > ul > li > a {
 	.uk-text-center;
 	.uk-button-primary; 
 	.uk-margin-small-top;
 	.uk-margin-small-bottom;
 	 &::first-letter {
        background: red;
        text-transform: uppercase;
    }
    padding: 0;
    width: 100%;
} 


/* some font matters */
body {
    font-family: "IM Fell English";
}
 
.uk-navbar-nav > li > a {
    font-family: 'Josefin Sans';
}
 
h2, h3, h4, h5, h6 {
	font-family: 'Josefin Sans';
}
 
h2 {
	font-family: 'Cedarville Cursive';
}
.headertext {
    font-weight: bolder;
	font-family: "Fredericka the Great";
    color: @brown;
}
h1 {
    font-family: "Alegreya";
    color: @brown;
}


/* adjusts the size of first letter in h1.  I had already set up a span to uppercase it and float it,  so I stuckc with it */
h1 span {
	font-size: 3em;
}
 

/* this is setting up the transparent background image in the header */
div.uk-cover {

	height: 10em;
	width: 100%;  
    position: relative;
    letter-spacing: .4em;
    border-bottom: 1px solid black;
    z-index: 0;  
}
 
div.uk-cover:before {
		width: 100%;
		height: 100%;
    	position: absolute;
    	top: 0;
    	left: 0;
    	content: "";
    	background: url("../img/background2x_1200.png") no-repeat;
    	opacity: 0.6;
    	z-index:-3;
    	display: block;
	}


/* I am using z-index to ensure the sticky nav is visiblw */
#sticker {
	z-index: 5;
}

/* index.html and form.html use a main container to keep the main content (after the nav and header) together */
.main-content-container {
	z-index: 100;
	opacity: .5;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width:  100%;
}




 /* sorting.html is all about filtering and displaying filtered images using dynamic grid  */
 /*filter grid page styling (sorting.html) starts here */
 
 div[data-uk-filter*="Filter"] {
    position: absolute; 
    box-sizing: border-box; 
    display: none;
    float: left;
    margin-bottom: 1em;
}
#filter-image {
    position: relative; 
    color: black;
    width: auto;
}
#filter-bin {
    margin-top: 3em;
    height: 30em;
    margin-bottom: 5em;
}
#sort-help-block {
    font-family: "Josefin Sans";
    font-weight: bolder;
    .sort-help-message {
        border-bottom: 1px solid blue;
        padding-bottom: 1em;
    }
    li {
        a {
            border: 2px solid black;
            &:hover {
                background: @second-color;
            }
        }
    }
}
/* end filter grid page styling */
    
  