@media (max-width: 900px) {
	header div.uk-cover:before {
		background: url("../img/tibet_background1_900x.png") no-repeat;
		/*only this image is not my own (not photographed by me), the image here named tibet_background1_900x.png is from pixabay.com */
	}
}

 @media (min-width:480px) and (max-width: 599px) {
	header div.uk-cover:before {
		background: url("../img/background_640.png") no-repeat;
	}	
 
 }

 @media (max-width: 479px) {
	header div.uk-cover:before {
		background: url("../img/background_480.png") no-repeat;
	}
}

 @breakpoint-medium: 900px;
 @media (max-width: @breakpoint-xlarge) {  
    //avoids clipping of nav link text vs icon
 nav > ul > li > a  { padding: 0 0 !important; 
 }
  
}
@media (min-width: @breakpoint-medium) and (max-width:@breakpoint-large) {
    .uk-navbar-nav > li > a {
       width: 80% !important;
        height: 1.5em !important;
        line-height: 1.5em !important;
    }
}